<launch>
		<!-- example of comment tag -->

	    <!-- True State Node -->
		<node pkg="tests" name="uav_posestamped_publisher" type="uav_poseStamped_publisher.py"/>
		<node pkg="tests" name="uav_state_publisher" type="uav_state_publisher.py"/>

	    <!-- Trajectory Node -->
		<node pkg="tests" name="uav_trajectory_publisher" type="uav_reftraj_publisher.py"/>
		
	    <!-- EKF Node -->
	    <node ns="estimator" name="EKF" pkg="estimation" type="estimator_EKF_imu.py" />

	    <!-- LPF Node -->
	    <node ns="estimator" name="lpf" pkg="estimation" type="LPF_imu.py" />

	    <!-- IR Detector Node-->
	    <node ns="estimator" name="ir_detector" pkg="estimation" type="gate_detector.py" output="screen" />
	    
	    <!-- Controller Node-->
		<node pkg="tests" name="uav_input_publisher" type="uav_input_publisher.py" />

		<node pkg="rqt_plot" name="rqt_plot" type="rqt_plot"/>

</launch>
